<app-header (linkClicked)="onLinkClicked($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-receipes *ngIf="linkClicked === 'receipes' else shopping"></app-receipes>
      <ng-template #shopping>
          <app-shopping-list></app-shopping-list>
      </ng-template>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>This is an App Component</h3>
      <hr/>
      <app-servers></app-servers>
    </div>
  </div>
</div> --> 

<!-- <div class="container">
    <app-create-server 
      (serverCreated)="onServerCreated($event)"></app-create-server>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <div
          class="panel panel-default"
          *ngFor="let element of serverElements">
          <app-server-list [srvElement]="element">
              <p>
                <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
                <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
              </p>
          </app-server-list>
        </div>
      </div>
    </div>
  </div> -->
  